* {
    background: #FCF4F0;
    flex-shrink: 0;
    font-family: "Playfair Display", serif;
    box-sizing: border-box; 
}

table {
    border-collapse: collapse; 
    width: 80vw;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 100px;
    border: 1px solid black; 
    border-collapse: collapse;
    
}


th, td{
    padding-left: 100px; 
    text-align: left;
    border: 1px solid black;
    width: 100vw;
    text-align: left;
    color: #574545;
    border-collapse: collapse; 
}

th {
    background-color: #BABD8D;;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
}


td{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15x;
    padding-top: 5px; 
    padding-bottom: 5px;
    color: #574545;
    
}


.customButton {
    color: #574545;
    align-items: center;
    top: 50px;
    padding: 20px;
    left: 800px;
    background-color: #BABD8D;
    font-size: 25px;
    font-weight: lighter;
    position: relative; 
    top: 50px;
    left: 45%;
}

.header-hidden{
    display: none;
}

.header-visible {
    display: table-header-group;
}

.table-hidden{
    display: none;
}

.table-visible {
    display: table-cell;
    border-collapse: collapse; 
    width: 80vw;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 100px;
    border: 1px solid black; 
    border-collapse: collapse;
}